@page "/"

<div class="row mrow">
    Start to use Maelstorm now!
</div>
<div class="row text-center pt-3 pb-3 justify-content-center">
    <a href="#" class="downloadBlock col-3">
        <div>
            <img src="/images/pc.png" class="d-block m-auto" />
            Download for Windows/Linux/Mac
        </div>
    </a>
    <a href="#" class="downloadBlock col-3">
        <div>
            <img src="/images/mobile.png" class="d-block m-auto" />
            Download for mobile device
        </div>
    </a>
    <a href="/authentication" class="downloadBlock col-3">
        <div>
            <div>
                <img src="/images/browser.png" class="d-block m-auto" />
                Use web version
            </div>
        </div>
    </a>        
</div>    