* {
    color: white;
}

.mrow{
    padding-left: 1.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
    font-size: 20px;
    background-color: #333333;
}

.downloadBlock{
    padding: 20px;
    justify-content: center;
    cursor:pointer;
} 